<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Voice</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <!-- <h1>Local Voice</h1>
    <a href="/page_creation">Create New Page</a>
    <br>
    <a href="/all_pages">See All Pages</a> -->

    <header>
        <h1> Local Voice Leicester </h1>
        <h2> Raise Concerns Raise Standards </h2>
    </header>
    <!-- <div id="shape-container"> <div id="small-triangle"></div> </div> -->
    
    <main>
        <article class="blurb">
            <p> Welcome to Local Voice Leicester. 
                We intent to raise your concerns to raise the standards throughout the City of Leicester. 
                Select what you would like to do:
            </p>
        </article>

        <section class="menu-btn-section">
            <a href="/page_creation"> 
                <button class="menu-btn"> Create a page </button>
            </a>
        </section>

        <section class="menu-btn-section">
            <a href="/all_pages"> 
                <button class="menu-btn"> See all pages </button>
            </a>
        </section>
    </main>

    <!-- <footer>
        
        <p><a href="about-us.html"> Read Our About Us Page </a></p>
        <p> &copy; Local Voice Leicester: Raise Concerns, Raise Standards. </p>
    </footer> -->
</body>
</html>