<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Voice - Page Creation</title>
</head>
<body>
    <h1>Local Voice - Page Creation</h1>
    <a href="/">Back to homepage</a>
    <input type="text" id="page_creation_name_field" />
    <textarea id="page_creation_description_field"></textarea>
    <button onclick="onSubmitPageCreation()">Create!</button>
    <br>
    <span id="error-message"></span>

    <script>
        function handleError(error) {
            document.getElementById("error-message").innerHTML = error
        }

        function clearError() {
            document.getElementById("error-message").innerHTML = ""
        }

        async function onSubmitPageCreation() {
            if (document.getElementById("page_creation_name_field").value == "") {
                handleError("Name is empty.");
                return;
            }

            clearError();

            await fetch("/api/new_page", {
                method: "POST",
                body: JSON.stringify({
                    name: document.getElementById("page_creation_name_field").value,
                    description: document.getElementById("page_creation_description_field").value
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            });
        }
    </script>
</body>
</html>