

:root {
    --navy-blue: #363D57;
    --tomato-red: #F55A51;
    --darker-red: #D64C44;
    --light-grey: #f4f4f4;
}

* {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 40px;
    text-align: center;
    background-color: var(--navy-blue);
}

main {
    text-align: center;
}

h1, h2 {
    color: white;
}

section {
    margin: 20px 10px;
}

button {
    width: 75%;
    height: 25vh;
    min-height: 100px;
    background-color: var(--tomato-red);
    border-color: transparent;
    border-radius: 30px;
    color: white;
    font-size: large;
}

footer {
    background-color: var(--navy-blue);
    padding: 40px;
    text-align: center;
    color: var(--light-grey);
    position: relative;
    bottom: 0;
    height: 100px;
}

.formsheet{
    margin: 20px 10px;
}