

:root {
    --navy-blue: #363D57;
    --tomato-red: #F55A51;
    --darker-red: #D64C44;
    --light-grey: #f4f4f4;
}

* {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 40px;
    text-align: center;
    background-color: var(--navy-blue);
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
}

h1, h2 {
    color: white;
    padding: 5px;
}

section {
    margin: 10px 0px 30px;
}

button {
    width: 75%;
    height: 20vh;
    background-color: var(--tomato-red);
    border-color: transparent;
    border-radius: 30px;
    color: white;
    font-size: larger;
    padding: 5px;
}

article {
    text-align: center;
    padding: 5%;
}

footer {
    background-color: var(--light-grey);
    padding: 40px;
    text-align: center;
    color: black;
    position: relative;
    bottom: 0;
}

.menu-btn {
    text-align: center;
}

.formsheet{
    margin: 20px 10px;
}

